.progect-filtre {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;

  @media screen and (max-width: 767px) {
    --items: 3;
    flex-basis: calc((100% - 8px * (var(--items) - 1)) / var(--items));
    max-width: 362px;
    
  }
 
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__btn {
    padding: 6px 22px;
    font-family: inherit;
    background-color: #f5f4fa;
    border: transparent;
    border-radius: 4px;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;

    transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent-color);
      color: var(--hero-title-color);
      cursor: pointer;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.progect__progect-filtre {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
