.form-subscription {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  &__email {
    padding: 15px;
    width: 358px;
    height: 50px;
    color: var(--hero-title-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &:not(:placeholder-shown):required:valid {
      border-color: var(--accent-color);
      background-color: transparent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    &:not(:placeholder-shown):required:invalid {
      border-color: red;
      background-color: transparent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  &__btn {
    font-family: inherit;
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;

    padding: 10px 29px;
    min-width: 200px;
    transition: box-shadow var(--anim);

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
