.register-form {
  padding: 40px;
  text-align: center;

  &__title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
  }

  &__group {
    margin-bottom: 20px;
  }

  &__wrap {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__wrap:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--form-text-color);
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--form-border-color);
    padding: 11px;
    padding-left: 35px;
    border-radius: 4px;

    outline: transparent;
  }

  &__input:focus,
  &__message:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }

  &__input:focus ~ &__icon {
    fill: var(--accent-color);
  }

  &__message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    resize: none;
    outline: transparent;
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 11px;
  }
}

.register-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;

  &__checkbox:checked + &__icon &__icon-uncheck {
    opacity: 0;
    transition: opacity var(--anim);
  }

  &__icon-check {
    opacity: 0;
    transition: opacity var(--anim);
  }

  &__checkbox:checked + &__icon &__icon-check {
    opacity: 1;
  }

  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--form-text-color);
    user-select: none;
  }

  &__link {
    color: var(--accent-color);
    text-decoration-line: underline;
  }
}

.register-form__btn {
  font-family: inherit;
  color: var(--hero-title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;

  padding: 10px 55px;
  min-width: 200px;
  transition: box-shadow var(--anim);

  &:hover,
  &:focus,
  &:active {
    background-color: #188ce8;
  }
}
