.menu-btn {
    display: inline-flex;
    justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:active {
    color: var(--accent-color);
  }

}

&__icon {
  fill: currentColor;
}
