.section-title {
  font-size: 28px;
  line-height: calc(28 / 33);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.footer-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
