:root {
    --brand-color: #212121;
    --text-color: #757575;
    --hero-title-color: #FFFFFF;
    --accent-color: #2196F3;
    --brg-color: #C4C4C4;
    --brg-color-fon: #F5F4FA;
    --socials-icon-color: #AFB1B8;
    --form-text-color:  #757575;
    --form-border-color: rgba(33, 33, 33, 0.2);
    --modal-brg-color: #FFFFFF;
    --header-brg-color: #FFFFFF;
    --footer-brg-color: #2F303A;


    --indent: 15px;
    --items: 3;

    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}