.about {
  @extend %section;

  &__section-title {
    margin-bottom: 50px;
  }
}

.about-list {
  display: flex;
  align-items: center;
  gap: 30px;

  &__img {
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);

    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8) 100%, #2f303a);
  }
}
