.aside {
  @extend %section;
}

.aside-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    --items: 1;
    flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
    max-width: 450px;

    @media screen and (min-width: 768px) {
      --items: 2;
      flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      --items: 4;
      flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
      max-width: 270px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--brg-color-fon);
    border-radius: 4px;
  }

  &__title {
    color: var(--brand-color);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    color: var(--text-color);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }
}
