.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--header-brg-color);
  border: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
  }

  &__logo {
    color: var(--brand-color);

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__slogan {
    color: var(--accent-color);
  }
}

.header-list {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  gap: 10px;

  @media screen and (min-width: 1200px) {
    gap: 50px;
  }

  &__link {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 8px;

      color: var(--text-color);
      font-weight: 500;
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color var(--anim);
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(16 / 14);
      gap: 10px;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;

  }
}
.icon-desktop {
  @media screen and (max-width: 1199px){
  display: none;
}
}
.icon-tablet {
  @media screen and (min-width: 1200px){
    display: none;
  }
}