.hero {
  padding: 118px 0;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--brg-color);

  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
    url('../images/imagesfon/hero_img@1x_sm.jpg');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
      url('../images/imagesfon/hero_img@2x_sm.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
      url('../images/imagesfon/hero_img@1x_md.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
        url('../images/imagesfon/hero_img@2x_md.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
      url('../images/imagesfon/hero_img@1x_lg.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
        url('../images/imagesfon/hero_img@2x_lg.jpg');
    }
    padding: 200px 0;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--hero-title-color);
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    animation: title-fly 600ms ease-in-out 500ms;

    @media screen and (max-width: 1199px) {
      max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
    }
  }
  &__btn {
    font-family: inherit;
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: inline-block;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;

    padding: 10px 32px;
    min-width: 200px;
    transition: box-shadow var(--anim);

    animation: btn-anim 2000ms ease 2000ms;
  }
  &__btn:hover,
  &__btn:focus,
  &__btn:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
