.hero {
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 100%, #2f303a),
    url('../images/imagesfon/imgfon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--brg-color);

  &__title {
    margin-bottom: 30px;
    color: var(--hero-title-color);
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    animation: title-fly 600ms ease-in-out 500ms;
  }
  &__btn {
    font-family: inherit;
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: inline-block;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;

    padding: 10px 32px;
    min-width: 200px;
    transition: box-shadow var(--anim);

    animation: btn-anim 2000ms ease 2000ms;
  }
  &__btn:hover,
  &__btn:focus,
  &__btn:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
