.nav-header {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--anim);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--current {
      position: relative;
      color: var(--accent-color);
    }

    &--current::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}
