.progect {
  @extend %section;
}
.progect-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 

  &__item {
    --items: 1;
    flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
    max-width: 450px;
  

    @media screen and (min-width: 768px) {
      --items: 2;
      flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
      max-width: 354px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      max-width: 370px;
      flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
    }

    transition: box-shadow var(--anim);

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }

    &:hover .progect-overlay__text {
      transform: translateY(0);
    }
  }

  &__border {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    flex-grow: 1;
  }

  &__title {
    color: var(--brand-color);
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
  }
  &__text {
    color: var(--text-color);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
  }
}

.progect-overlay {
  position: relative;
  overflow: hidden;

  &__text {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--hero-title-color);
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    user-select: none;

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--anim);
  }
}
